.breadcrumb {
  display: flex;
  padding: 16px 40px;
  background-color: #e6ebda;  
}

.breadcrumb a {
  margin: 0 5px;
  color: darkblue;
}

.content {
  padding: 40px 40px;
}

.department-menu {
  width: 25%;
  box-shadow: 0 0 5px #aaaaaa;
}

.department-menu__title {
  padding: 20px 20px;
  background-color: #0e3718;
  color: #ffffff;
  font-size: 1.8rem;
}
.department-menu__sub-title {
  padding: 10px 20px;
  background-color: #f1f1f1;
}
.department-menu__item {
  padding: 10px 40px;
  background-color: #ffffff;
  border-bottom: solid #f1f1f1;
}

.department-menu__item:hover {
  background-color: #f1f1f1;
}

.department-introduction {
  width: 75%;
  padding: 20px 20px;
}

.department-introduction__content {
  padding: 10px 0;
}

.department-introduction__title {
  font-size: 3rem;
  font-weight: bold;
  color: #0e3718;
  letter-spacing: 0.2rem;
}

.department-introduction__sub-title {
  padding-left: 8px;
  margin: 8px 0;
  font-size: 1.8rem;
  font-weight: bold;
  color: #0e3718;
  border-left: solid 8px #0e3718;
}

.department-introduction__divider {
  width: 100%;
  height: 1px;
  margin: 20px 0;
  background-color: #f1f1f1;
}

.department-introduction_button {
  padding: 10px 40px;
  margin-top: 10px;
  background-color: #0e3718;
  color: #ffffff;
  border-radius: 10px;
}

.department-introduction_button:hover {
  background-color: #1c4426;
  cursor: pointer;
}